name: ci
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  build-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [1.24.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup
        uses: actions/setup-go@v4
        with:
          go-version: ${{ matrix.go }}

      - name: Build
        run: go build ./cmd/multibuild

      - name: Test
        run: go test -v ./cmd/multibuild

      - name: Build All
        run: ./multibuild ./cmd/multibuild

      - name: Upload Binaries
        uses: actions/upload-artifact@v4
        with:
          name: binaries
          path: ./bin
          retention-days: 5
